$black: #000000;
$blue: #1820EF;
$red: #FF4E42;
$yellow: #FFC024;
$white: #FAFAED;

$active-color: $blue;
$inactive-color: $white;
$primary-font-family: "M PLUS Rounded 1c", sans-serif;
$weight-medium: 500; 
$weight-extra-bold: 800;
$weight-black: 900;

body {
  font-family: $primary-font-family;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: url('./images/header/background-pattern.png') repeat;

  &__logo {
    margin: 24px 0;
  }
  &__image {
    margin-bottom: 12px;
  }

  &__title {
    font-family: $primary-font-family;
    font-size: 48px;
    line-height: 56px;
    font-weight: $weight-black;
    text-align: center;
    color: $yellow;
    margin-bottom: 11px;
  }
  &__text {
    margin-bottom: 66px;
    padding: 0 30px;
    font-family: $primary-font-family;
    font-size: 16px;
    line-height: 20px;
    font-weight: $weight-medium;
    text-align: center;
    color: $white;

    &--big{
      font-family: $primary-font-family;
      font-size: 120px;
      line-height: 100px;
      font-weight: $weight-black;
      text-align: center;
      color: $white;
      margin-bottom: 24px;
    }
  }
}